<br>
<div class="card">
  <div class="card-header" style="text-align:center;">
    <h2>Add a new film for <%= @year.year %></h2>
  </div>
  <div class="card-body" style="padding: 20px; text-align: center;">

    <small style="margin: 0 auto;"><%= link_to "HOME", years_path %></small>
  </div>

</div>
<br>
<div class="card" id="add-film">
  <%= form_for :film, url: {action: "create"} do |f| %>
    <%= f.text_field :title, placeholder: "TITLE" %><br><br>
    <%= f.text_field :director, placeholder: "DIRECTOR" %><br><br>
    <%= f.date_field :release_date, placeholder: "RELEASE" %><br><br>
    <%= f.text_field :opening_gross, placeholder: "GROSS" %><br><br>
    <%= f.text_field :summary, placeholder: "SUMMARY", maxlength: 500 %><br><br>
    <select name="Genre[genre]">
      <option>Choose Genre</option>
      <option>Horror</option>
      <option>Drama</option>
      <option>Comedy</option>
      <option>Erotica</option>
      <option>Noir</option>
      <option>Romance</option>
      <option>Sci-Fi</option>
      <option>Action</option>
      <option>Fantasy</option>
      <option>Foreign</option>
      <option>Documentary</option>
    </select>

  </div>
  <div class="card-footer" style="text-align: center;">
    <%= f.submit  %>
  </div>
  <% end %>
</div>
