<div class="card">
  <div class="card-header" style="text-align:center;">
    <h1><%= @film.title %></h1>
  </div>
  <div class="card-body">
    <h4>DIRECTOR: <%= @film.director %> </h4>
    <h4>RELEASE DATE: <%= @film.release_date %> </h4>
    <h4>GENRE: <%= @film.genre %> </h4>
    <h4>OPENING: $<%= @film.opening_gross %> </h4><br>
    <div class="card-footer">
      <%= link_to "EDIT", edit_year_film_path(@film.year_id, @film) %> |
      <%= link_to "DELETE", year_film_path(@film.year_id, @film),
      :data => {:confirm => "Are you sure?",
        :method => "delete"} %> |
      <%= link_to "HOME", years_path %>

    </div>
  </div>
</div>
